html, body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: white;
    text-align: center;
    height: 100%; /* Ensures the full height of the viewport */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    /* background image */
    background-color: black;
    background-image: url(images/backgroundcropped.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    z-index: 1000; /* Ensures it stays above other content */
}

header h1 {
    margin: 0;
    font-size: 22px;
    flex: 25%; /* 1/4 width*/
    text-align: left;
    font-weight: normal;
}

nav {
    flex: 75%; /* 3/4 width*/
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensures the nav spreads out */
}

nav ul li {
    flex: 1; /* Equal width for each nav item */
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size: 22px;
    transition: opacity 0.1s;
}

a {
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    transition: opacity 0.1s;
}

a:hover {
    opacity: 0.7;
}

main {
    flex: 1; /* Pushes the footer to the bottom */
    padding: 100px 25%;
}

.project img {
    max-width: 100%;
    height: auto;
    position: center;
}

.project div {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

ul {
    list-style: none;
    text-align: left;
    padding: 0;
}

li {
    padding-bottom: 20px;
}

footer {
    background: black;
    color: white;
    padding: 20px;
    text-align: left;
}

footer a {
    font-size: 18px;
} 